@media screen and (max-width: 1100px){
	#container{width: 100%;}
	#logo{width: 35%}
	#lnb{width: 100%;
		padding-bottom: 10px;}	
	#varios{width: 100%;}	
	#contenidof{width: 100%;}
	
	nav{width: 60%;}

}
@media screen and (max-width: 1000px){
	.contfoo{width: 48%;}
	nav{width: 100%;
		display: block;
	margin: 0px auto;}

	nav ul{text-align: center;}
	#logo{width: 100%;
		}

	section#productos .prod{
		width: 30%;
		text-align: center;
	}
}

@media screen and (max-width: 1040px){
	body.internal #container{width: 100%;}
}

@media screen and (max-width: 990px){

	.contcat{
		width: 31%;
	}
}

@media screen and (max-width: 850px){
	
	
	#buscador{width: 90%;
	margin: auto;}

	#resultSearch{top: 100px; margin: 0px 0px 0px 10px;}
	section#right{ display: block;}
	section#contenido{ width: 95%; display: block;}

	section#right{ display: block; width: 100%;}
	section#right h1{width: 95%; margin: 0px auto; padding: 10px 0px 0px 0px;} 
	section#right .grid1{display: inline-block; width: 24%;} 
}

@media screen and (max-width: 750px){

	section#productos{text-align: center;}

	#categories .itemBloock,
	section#productos .prod{
		width: 45%;
	}
	section#right .grid1{width: 45%;} 
}

@media screen and (max-width: 700px){
	
	#productos{width: 88%;
		margin: auto;}
		.contfoo{width: 90%;
			display: block;
			margin: auto;}
		.contfoo ul li{display: inline-block;}
		.contfoo h2{margin: 15px;}
		.grid2{width: 100%;}
		#buscador{width: 70%;
			float: none;
			margin-top: 20px;}
		
	.categoriasF{display: none;}


	}

@media screen and (max-width: 675px){
	nav ul li{
		margin: 0px;
	}
}

@media screen and (max-width: 575px){
	.contcat{
		display: block;
		margin: auto;
		width: 300px;
	}
	
	

	section#productos .descripcion{width: 100%;}
	section#productos .descripcion p{
		
		font-size: 20px;
	}
	
	.redesF ul li img,
	.redesF ul li p{display: block; margin: 0px auto;}
	.contfoo h2{width: 100%;}
}


@media screen and (max-width: 500px){
	nav{
		display: none;
	}
	
	#lnb{padding: 0px;}
	
	#redes{
		width: 60%;
		margin: auto;
	}
	.contcat
	{
		display: block;
		margin: auto;
		width: 300px;
	}
	
	#productos{width: 270px;}
	#Cmenu{display:inline-block;
		margin-left: 10px;
	}
	
	section#right .grid1,
	#categories .itemBloock,
	section#productos .prod{
		width: 90%;
		display: block;
		text-align: center;
		margin: 10px auto;
	}
}

@media screen and (max-width: 400px){
	.contcat{
		width: 90%;
		margin: 30px auto;
	}

	#mainItem .itemImage{
		width: 95%;
		margin: 0px auto;
		float: none;
	}
}

@media screen and (max-width: 320px){}