*
{
	margin:0px;
}
header
{
	width: 100%;
	border: 0px solid #f00;
	margin: auto;
	background: #1a2933;
}
#up
{
	width: 100%;
	padding-top: 10px;
	height: 40px;
	background: #041019;
}
#varios
{
	width: 1070px;
	margin: auto;
	border: 0px solid #f00;

}
#Cmenu
{
	width: 30px;
	display: none;
	border: 0px solid #f00;
}
#Cmenu img{
	display: block;
	width: 100%;
}
#redes
{
	width: 30%;
	border: 0px solid #f00;
	display: inline-block;
	vertical-align: top;
}
#redes ul
{
	list-style: none;
}
#redes ul li
{
	display: inline-block;
	padding-left: 10px;
}
#lnb
{
	width: 1070px;
	border: 0px solid #f00;
	margin: auto;
}
#logo
{
	width: 23%;
	height: 100px;
	margin-top: 10px;
	border: 0px solid #f00;
	display: inline-block;
	vertical-align: top;
}
#logo img 
{
	display: block;
	margin: auto;
}
#buscador
{
	width: 27%;
	margin-top: 30px;
	display: inline-block;
	vertical-align: top;
}
#into
{
	width: 73%;
	height: 30px;
}
#boton
{
	width: 23%;
	height: 36px;
	border: none;
	color: #fff;
	background: #10171f;
	vertical-align: top;
}
nav
{
	width: 48%;
	height: 50px;
	margin-top: 40px;
	border: 0px solid #f00;
	display: inline-block;
	vertical-align: top;
}
nav ul 
{
	list-style: none;
	width:100%;
}
nav ul li a
{
	text-decoration: none;
	color: #a3b9d1;
}
nav ul li ul
{
	position: absolute;
	width: 100px;
	background: #10171f;
	z-index: 99999;
	display: none;

}
nav ul li 
{
	font-size: 11px;
	border:0px solid;
	color: #a3b9d1;
	padding-right: 15px;
	font-weight: bold;
	display: inline-block;
	transition: 5s all;
}
nav ul li ul li 
{
	height: 20px;
	font-size: 11px;
}
nav ul li:hover ul
{
	display: block;
	transition: 5s all;
}


#container
{
	width: 1124px;
	border: 0px solid #f00;
	margin: auto;
}
#banner
{
	width: 100%;
	margin-top: 35px;
	border: 0px solid #f00;
}
#slides
{
	width: 100%;
	border: 0px solid;
}
#categorias
{
	margin-top: 43px;
	width: 100%;
	border: 0px solid #f00;
}

.contcat
{
	width: 33%;
	border: 0px solid #f00;
	display: inline-block;
}
.contcat img 
{
	width: 100%;
}
#productos
{
	width: 100%;
	margin-top: 100px;
	border: 0px solid #f00;
}
#productos img 
{
	display: block;
	height: auto;
}
.prod
{
	width: 24%;
	display: inline-block;
	margin-right: 6px;
	vertical-align: top;
	margin-top: 50px;
	border: 0px solid #f00;
}
.imagen
{
	width: 100%;
	height: 345px;
	overflow: hidden;
	border: 0px solid #f00;
}
.descripcion
{
	width: 270px;
	padding:20px 0px 20px 0px;
	min-height:50px;
	font-size: 15px;
	border: 0px solid #f00;
	border-bottom: 1px solid #e8e8e8;
}
.descripcion p 
{
	width: 85%;
	display: block;
	color: #ed8641;
}
footer
{
	width: 100%;
	margin: auto;
	background: #192430;
	padding-bottom: 20px;
	border: 0px solid #f00;
}
#contenidof
{
	width: 1124px;
	margin: auto;
	margin-top: 27px;

}
.contfoo
{
	width: 24%;
	display: inline-block;
	vertical-align: top;
	border: 0px solid #f00;
}
.contfoo h1
{
	font-size: 14px;
	color: #fff;
	margin-top: 28px;
	font-weight: bold;
	margin-left: 20px;
}
.contfoo h2
{
	font-size: 14px;
	color: #fff;
	width: 70%;
	margin-top: 62px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-left: 20px;
	border-bottom: 2px solid #465c71;
}
.contfoo img 
{
	display: block;
	margin-top: 36px;
}
.contfoo p 
{
	margin-top: 10px;
	color: #465c71;
	font-size: 12px;
}
.contfoo ul
{
	list-style: none;
	padding: 0px;
	margin-left: 20px;
}

.contfoo ul li img 
{
	display: block;
	margin-top: 0px;
	display: inline-block;	
}
.contfoo ul li p 
{
	display: inline-block;
	padding-left: 10px;
}
.contfoo ul#redesfo
{
	margin-top: 15px;
}
.contfoo ul#redesfo li p
{
	vertical-align: top;
}
#mas
{
	width: 90px;
	height: 32px;
	margin-top: 30px;
	background: #465c71;
}
#derechosf
{
	width: 100%;
	height: 50px;
	margin-top: 27px;
	background: #0e1319;
	border: 0px solid #f00;
}
#dereta 
{
	width: 1124px;
	margin: auto;
}