RewriteEngine On

#ErrorDocument 404 http://www.santacruzfincaraiz.com/sorry.php

RewriteRule ^([a-zA-Z0-9_-]+)$ entrada.php?id=$1 [last]
#RewriteRule ^.*/\$ entrada.php?id=$1 [L]

RewriteRule ^([a-zA-Z0-9_-]+)$ content.php?id_menu=$1 [last]
RewriteRule ^.*content-([0-9]+)\.html$ content.php?id_menu=$1 [L]

#RewriteRule ^entrada/(\w+)/?$ entrada.php?id=$1






